body {
    background-color: #FD6C9E;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child {
    height: 300px;
    width: 300px;
    margin: 15px;
    border: solid;
}
